[submodule "external/tinyusb"]
	path = software/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "external/STM32H5xx"]
	path = software/external/STM32H5xx
	url = https://github.com/STMicroelectronics/cmsis_device_h5.git
[submodule "external/STM32H5xx_HAL_Driver"]
	path = software/external/STM32H5xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32h5xx_hal_driver.git
